.large_repeater_wrapper {
    /* margin-top: 40px; */
}

.large_repeater_wrapper .row {
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 0 15%;
}

.large_repeater_wrapper a {
    border: .5px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 1%;
    min-height: 200px;
    max-width: 250px;
    
    /*Edits for the smaller version*/
    /* margin: 15px; */
    /* min-width: 250px; */
    max-width: 250px;
    margin: 0px 0 15px 0;
}

.large_repeater_wrapper a:hover {
    border: .5px solid grey;
    box-shadow: 10px 10px 16px rgba(0,0,0,0.25);
}

.large_repeater_wrapper img:first-child {
    max-height: 50px;
    height: 50px;
    width: 50px;
    padding: 0;
    margin-top: 5%;
}

.large_repeater_wrapper a > img:last-of-type {
    margin-top: 5%;
}

.large_repeater_wrapper .card_text {
    position: relative;
    margin-top: 10%;
}

.large_repeater_wrapper h6 {
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    margin-top: 15%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    /*Edits for the smaller version*/
    font-size: 12px;
}

.large_repeater_wrapper p {
    text-align: center;
    line-height: 2;
    padding: 0% 10% 5% 10%;
    font-size: 14px;

    /*Edits for the smaller version*/
    font-size: 12px;
    margin-bottom: 0;
}

.large_repeater_wrapper .link_group {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.large_repeater_wrapper .link_group p {
    padding: 0;
    text-transform: uppercase;
    color: #255A93;
    margin-bottom: 10px;
    line-height: 1;
}

.large_repeater_wrapper a:hover .link_group p {
    text-decoration: underline;
}

.large_repeater_wrapper img:last-child {
    width: 12.5px;
    height: 12.5px;
    position: relative;
    margin-left: 5px;
    margin-right: -20px ;
}


@media (max-width: 775px) {
    .large_repeater_wrapper .row {
        display: block;
        padding: 0 5%;
    }

    .large_repeater_wrapper a {
        border: none;
        max-width: none;
        flex-direction: row;
        padding: 10% 1%;
        border-bottom: .5px solid grey;
    }

    .large_repeater_wrapper a:hover {
        box-shadow: none;
        border: none;
        border-bottom: .5px solid grey;
    }

    .large_repeater_wrapper a:last-of-type {
        border-bottom: none;
    }

    .large_repeater_wrapper img:first-child {
        max-width: 30%;
        margin-top: 0;
    }

    .large_repeater_wrapper .card_text {
        margin-top: 0
    }

    .large_repeater_wrapper h6 {
        margin-top: 0;
    }

    .large_repeater_wrapper .link_group p {
        margin-bottom: 0;
        text-decoration: underline;
    }

    .large_repeater_wrapper a > img:last-of-type {
        display: none;
    }
}

@media (max-width: 320px) {
    .large_repeater_wrapper a {
        padding: 5% 0%;
        margin: 0;
        min-height: 175px;
    }

    .large_repeater_wrapper h6 {
        font-size: 10px;
    }

    .large_repeater_wrapper p {
        font-size: 10px;
    }

    .large_repeater_wrapper img:last-child {
        width: 10px;
        height: 10px;
        top: 1px;
    }
}

/* Standard Non-Home Pages */
body.page-template-category .entry-header {
    /* height: 275px; */
    height: auto;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.page-template-category .entry-title {
    font-family: 'Merriweather', serif;
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    background: white;
    width: 60%;
    height: auto;
    margin-bottom: 0;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

@media (max-width: 550px) {
    body.page-template-category .entry-header {
        padding: 10%;
    }

    body.page-template-category .entry-title {
        padding: 5%;
        font-size: 35px;
        width: auto;
    }
}