/*  Google Fonts  */


/*
	FONT WEIGHT

	font-family: 'Lato', sans-serif;
	thin 100
	thin 100 Italic
	light 300
	light 300 Italic
	regular 400
	regular 400 Italic
	bold 700
	bold 700 Italic
	black 900
	black 900 Italic

 */

 *:focus {
    outline: none;
}
html {
    scroll-behavior: smooth;
    margin-top: 0 !important;
}

body {
    font-weight: 400;
    font-size: 14px;
    color: #1a1a1a;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;

}
a:focus, a:active {
    outline: none;
}
h1 {
    color: #5b5b5b;
    font-size: 36px;
}

p {
    color: #1a1a1a;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}

.homepage_p {
  margin: 50px 0;
  padding: 1% 25%;
  font-size: 16px;
}

@media (max-width: 767px) {
  .homepage_p {
    padding: 1% 15%;
    font-size: 14px;
  }
}

img {
    max-width: 100%;
    height: auto;
    outline: 0;
}

::-webkit-input-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}


input:focus::-webkit-input-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

::-moz-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

input:focus:-moz-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

:-ms-input-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

input:focus::-moz-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}


:-moz-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

input:focus:-ms-input-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}



textarea::-webkit-input-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

textarea::-moz-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
}

textarea:focus::-moz-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

textarea:-ms-input-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
}

textarea:focus:-ms-input-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

textarea:-moz-placeholder {
    color: #232323 !important;
    opacity: 1 !important;
}

textarea:focus:-moz-placeholder {
    opacity: 0 !important;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.menu-toggle {
    display: none  !important;
}
/*--Header section--*/


.top-header {
        padding: 10px 0 14px 0;

}

.top-header .header-top-menu ul {
    padding: 0;
    margin: 0;
}

.top-header .header-top-menu ul li {
    display: inline-block;
    position: relative;
    padding: 0 10px 0 10px;
}
.top-header .header-top-menu ul li:last-child {
    padding-right: 0;
}
.inner-banner {
    min-height: 355px;
    position: relative;
}
.inner-banner-content {
    background-color: #fff;
    padding: 50px 100px 20px 100px;
    margin-top: -260px;
}

.inner-banner-content h2 {
    font-weight: 700;
    font-size: 40px;
}
/*.main-navigation ul > li:hover:before {
    width: 100%;
    height: 5px ;
    background: #295b7f;
    content: '';
    position:absolute;
    top:-20px;
}*/
.main-navigation li > .sub-menu > li:hover:before {
    content: none;
}
.top-header .header-top-menu ul li:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #295b7f;
    top: 30%;
    left: -2px;
}
.top-header .header-top-menu ul li:first-child:after {
    content: none;
}
.top-header .header-top-menu ul li a {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.74px;
    text-transform: uppercase;
}
.top-header .header-top-menu ul li a .fa.fa-search {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    padding-top: 5px;
}

.main-navigation ul ul{
    box-shadow: none;
    top:50px;
    line-height: normal;
    border-top: 4px solid #255a93;
    background-color: #fff;
}
.main-navigation li > .sub-menu > li {
    padding: 10px 10px;
    line-height: normal;
}
.main-navigation li:hover, .main-navigation li a:hover {
    color: #295b7f;
}
.main-navigation li > .sub-menu > li:hover a{
color: #fff;
}
.main-navigation li > .sub-menu > li > a {
  color: #000 !important;
    line-height: normal;
    font-size: 13px;
    letter-spacing: normal;
    font-weight: 600;

}
.main-navigation li > .sub-menu > li:hover {

}
.main-navigation li > .sub-menu > li:hover a {
    color: #000 !important;
    font-weight: bold;
}
.top-header .top-donate{
   position: absolute;
    right: 0;
    top: 0;
    background-color: #245b94;
    padding: 12px 40px 16px 40px;
    line-height: normal;
}
.top-header .top-donate a{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   color: #fff;
   letter-spacing: 1px;
}




.site-header.sticky-header {

}







.sticky-header .header-right:after {
    content: none;
}

.sticky-header .header-right:before {
    content: none;
}

.top-logo {
    display: inline-block;
}
.top-logo .logo img {
    max-width: 325px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

/*.sticky-header .logo img {
    max-width: 50px;
}

.sticky-header .header-top {
    display: none;
}
.sticky-header .logo{
    position: relative;
}
.site-header .logo span {
    opacity: 0;
    visibility: hidden;
}
.sticky-header .logo span {
    position: absolute;
    font-size: 20px;
    color: #fff;
    top: 0;
    left: 70px;
    font-weight: bold;
    opacity: 1;
    width: 100%;
    visibility: visible;
}*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

 .main-navigation {
    clear: both;
    display: inline-block;
    width: auto;
    float: right;
}
.navigation-block {
    padding: 20px 0;
}
.main-navigation li {
    display: inline-block;
    position: relative;
        float: none;
        padding: 0 30px 0 30px;
}
.main-navigation li a {
    color: #000;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
   font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 50px;
}
.main-navigation li a .fa.fa-angle-down {
    margin-left: 5px;
}
.main-navigation li:last-child {
    padding-right: 0;
}
.sticky-header .header-right .main-navigation {

}

.header-right .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.toggle-close-btn {
    display: none !important;
}

.header-right .main-navigation ul ul {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.header-right .main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.header-right .main-navigation ul ul li:hover > ul,
.header-right .main-navigation ul ul li.focus > ul {
    left: 100%;
}

.header-right .main-navigation ul ul a {
    width: 200px;
}

.header-right .main-navigation ul li:hover > ul,
.header-right .main-navigation ul li.focus > ul {
    left: auto;
}

.header-right .main-navigation li {
    float: none;
    position: relative;
    padding-right: 15px;
    display: inline-block;
}

.header-right .main-navigation li.menu-item-has-children {
    position: relative;
}

.header-right .main-navigation li.menu-item-has-children:after {

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.header-right .main-navigation li:last-child {
    margin-right: 0px;
    padding-right: 0;
}

.header-right .main-navigation a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    /*font-weight: 800*/
}

.header-right .main-navigation ul#primary-menu li.current-menu-item a {
    color: #fff;
}

.header-right .main-navigation li ul.sub-menu {
    display: block;
    padding: 0;
    margin: 0;
    background: #f5f4f4;
}

.header-right .main-navigation li ul.sub-menu li {
    margin-right: 0;
    padding: 8px 10px 8px 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.header-right .main-navigation ul#primary-menu li ul.sub-menu li a {
    color: #000;
}

.header-right .main-navigation ul#primary-menu li ul.sub-menu li a:hover,
.header-right .main-navigation ul#primary-menu li ul.sub-menu li.current-menu-item a {
    color: #42c3de;
}

/* Small menu. */

.header-right .menu-toggle,
.header-right .main-navigation.toggled ul {
    display: block;
}



.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.no-padding {
    padding: 0px !important;
}

.banner-home {
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    margin-top: -100px;
}

.footer-social-icons{
        margin-top: 20px;
}
.footer-social-icons .social-icon-list{
     margin:0;
    padding: 0;
}
.footer-top h5 {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.media-body p{
    color: #fff;
        font-size: 13px;
    line-height: 1.3;
}
.media-left img {
    border-radius: 100%;
    margin-right: 20px;
}

.f-contact {
    font-size: 13px;
    color: #fff;
}
.f-contact ul {
    padding: 0;
    margin: 0;
}
.f-contact ul li {
    margin-bottom: 10px;
}

.f-contact i {
    margin-right: 10px;
}
.fa-stack.fa-lg i {
    margin: 0;
    color: #1157a8;
}
.fa-stack.fa-lg {
    background: #fff;
    border-radius: 100%;
    width: 36px;
    height: 35px;
    text-align: center;
    margin-right: 10px;
}
/*--Footer section--*/

 .home #secondary{
    display: none;
 }

.no-pad{
    padding:0px;
}
.no-pad-right{
    padding-right:0px;
}
.footer-contact-block{
    background: #000000;
    padding:50px 0 50px 0;

}
.footer-contact-block .col-md-6 {
    padding-left: 0;
}

.contact-form {
    background: #9bd7d7;
       padding: 32px 64px;
    float: left;
    width: 100%;
}
.contact-form p {
    margin-bottom: 0;
}
.contact-form input[type="email"] {
    width: 300px;
    float: left;
}
.contact-form input[type="text"] {
    max-width: 47%;
    display: table;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contact-form input[type="submit"] {
    float: left;
    width: 125px;
    background-color: #125883;
    color: #fff;
    padding: 18px 0;
    font-size: 14px;
}

.contact-form input {
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 10px 20px;
}
.contact-image img{
width: 100%
}
.footer-content-block-1 p{
    color: #fff;
}
.footer-content-block-2 p{
    color: #fff;
}
.footer-logo-block p{
color: #fff;
font-size: 14px;
 font-weight: 400;
 line-height: 2;
}
.footer-phone-block p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.footer-link-block {
    display: block;
}
.footer-link-block ul {
    padding: 0;
    margin: 0;
   width: 49.2%;
    display: inline-block;
}
.footer-link-block ul li {
    display: block;
}
.footer-link-block ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;

}
.copyright-block {
    padding: 25px 0 ;
}
.copyright-block .copyright-content{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.social-icon-block ul {
    display: block;
    text-align: right;
    padding: 0;
    margin: 0;
}

.social-icon-block ul li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #125883;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 1;
    text-align: center;
    margin-right: 15px;
    transition: all 0.3s ease 0s;
}
.social-icon-block ul li:hover {
    background-color: #9bd7d7;
}
.social-icon-block ul li:last-child {
    margin-right: 0;
}
.social-icon-block ul li a {
    font-size: 20px;
    color: #125883;
}
.social-icon-block ul li a:hover {
    color: #fff;
}
span.wpcf7-not-valid-tip {
  display: table;
    width: 300px;
    position: absolute;
    margin-left: 0px;
    margin-top: -25px;
    font-size: 11px;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  position: absolute;
    bottom: 4px;
    float: left;
}
.main-navigation .menu-menu-1-container .menu li.menu-item-has-children > .dropdown-sub-toggle {
    cursor: pointer;
    display: block;
}
.main-navigation .menu-menu-1-container .menu li.menu-item-has-children > .dropdown-sub-toggle:after {
    content: "\f067 ";
    display: inline-block;
    font-family: "FontAwesome";
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: 700;
    position: absolute;
   right: 5px;
    top: 16px;
}
.menu-icon .main-navigation .menu-menu-1-container .menu li.menu-item-has-children > .dropdown-sub-toggle:after{
     content: "\f068 ";
    display: inline-block;
    font-family: "FontAwesome";
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: 700;
    position: absolute;

}
.top-search-block {
    position: relative;
}
.top-search-block .search-show {
    position: absolute;
       top: 15px;
    right: -25px;
    display: none;
}
.top-search-block .search-icon{
    background-image: url('../images/search-icon.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    outline: 0;
       position: absolute;
    right: -20px;
    top: -18px;
}

.top-search-block .search-form{
    width: 250px;
}
.top-search-block input.search-field {
    background-color: #eaeaea;
    border: 0;
    border-radius: 0;
    padding: 6px 10px;
}
.top-search-block input.search-submit {
    border: 0;
    padding: 10px;
    border-radius: 0;
}
.header-top-menu .mobile-search-block {
    display: none;
}
.header-top-menu .mobile-social-block {
    display: none;
}

/*SILVERBACK */


/*Blog archive */
.blog__filter{
  padding:100px 0;
}
.blog__filter h2{
  color:#255A93;
  text-align: center;
}

.blog__filter .category__filter .search-submit{
  display:none;
}
.blog__filter .category__filter .search-form{
  position:relative;
}
.blog__filter .category__filter .search-form i{
  position: absolute;
  left: 10px;
  top: 50%;
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  color:#5F5F5F;
}
.blog__filter .category__filter .search-form .search-field{
  padding-left:30px;
}
.blog__filter .category__filter .search-form .search-field::placeholder{
  color:#5F5F5F;
}
.blog__filter .category__filter{
  margin-top:30px;
}
.blog__filter #filter_title{
  background:#255A93;
  color:#fff;
  padding:15px;
  font-size:14px;
  width:18%;
}

.blog__filter .right_filter{
  background:#fff;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width:82%;
}
.blog__filter #filter{
  display: -ms-flexbox;
  display: flex;
  width:55%;
  position:relative;
}
.blog__filter .search{
  width:30%;
}
.blog__filter #filter_title img{
  margin: 0 20px;
}
.filter_title_mobile{
  display:none;
  background: #255A93;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size:16px;
}

.filter_title_mobile:after{
  content: "\f107";
    display: inline-block;
    font-family: "FontAwesome";
    margin-left:10px;
}
.blog__filter .filter_flex{
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
-moz-box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
max-width:900px;
width:100%;
margin: 0 auto;
}

.blog__filter label{
  display:block;
}

.blog__filter .category__filter input{
  visibility: hidden;
}

.blog__filter .category__filter input.search-submit{
  display: none;
}

.blog__filter .category__filter input.search-field{
  visibility: visible;
  border:1px solid #5F5F5F;
  border-radius: 15px;
  width:100%;
}

.blog__filter .category__filter #filter label{
  margin-right:5%;
  font-size:16px;
  cursor: pointer;
}

.blog__filter .category__filter #filter label.category.active{
  color:#255A93;
  font-weight:bold;
}

.blog__filter .category__filter .clear_category{
  display:none;
}

.pagination{
  display:block;
  width:100%;
  margin: 10px auto 40px auto;
  text-align: center;
}

.pagination ul{
  margin:0;
  padding:0;
}
.pagination .page-numbers li {
  font-size:20px;
}
.pagination .page-numbers li span.prev, .pagination .page-numbers li span.next {
  font-size:40px;
  color:#255A93;
  background:transparent;
}
.pagination .page-numbers li .page-numbers{
  color:#255A93;
  background: #fff;
  padding: 10px 20px;
  margin: 0 8px;
  border:1px solid #255A93;
}
.pagination .page-numbers li .page-numbers.prev{
  padding:0 10px 0 0;
}

.pagination .page-numbers li .page-numbers.next{
  padding:0 0 0 10px;
}
.pagination .page-numbers li .page-numbers.prev, .pagination .page-numbers li .page-numbers.next{
  background-color:transparent;
  color:#255A93;
  border:none;
}
.pagination .page-numbers li .page-numbers.prev img, .pagination .page-numbers li .page-numbers.next img{
  width:25px;
  height:auto;
}
.pagination .page-numbers li .page-numbers.current{
  background:#255A93;
  color:#fff;
  border:1px solid #255A93;
}
.blog__three_column{
  width:18%;
  margin: 0 auto;
  padding:50px 0;
}

.blog__three_column#blog-1, .blog__three_column#blog-6, .blog__three_column#blog-9,
.blog__three_column#blog-12{
  margin-left:20%;
}

.blog__three_column#blog-3, .blog__three_column#blog-8, .blog__three_column#blog-11{
  margin-right:20%;
}
.blog__three_column .content{
  margin-top:15px;
}
.blog__three_column .subtitle{
  text-transform: uppercase;
  color:#5F5F5F;
  margin-bottom:10px;
  letter-spacing: 2px;
}

.blog__three_column .title{
  font-weight:bold;
  width:70%;
  margin-bottom:5px;
}

.blog__three_column a{
  color:#255A93;
}
.blog__three_column a:hover{
  color:#000;
}

.blog__three_column a span{
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.blog__three_column a:after{
    content: '\f105';
    font-family: "FontAwesome";
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 10px;
  }

.blog__two_column{
  width:50%;
  padding:80px 0;
  position:relative;
}
.blog__two_column .content__overlay{
  background:rgba(255,255,255, .6);
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  text-align: center;
  height:350px;
}

.blog__two_column .content__overlay .content{
  position: absolute;
    top: 50%;
    left: 15%;
    -ms-transform: translate(-9%, -50%);
    transform: translate(-9%, -50%);
}

.blog__two_column .content__overlay_subtitle{
  font-size: 18px;
font-weight: 700;
color: #1E5E85;
letter-spacing: 1.35px;
text-transform: uppercase;
margin-bottom:15px;
}

.blog__two_column a{
  font-weight: bold;
  background: #3EB183;
  padding: 15px 0;
  max-width: 175px;
  width: 100%;
  text-align: center;
  color: black;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  display:block;
  margin: 10px auto;
}

.blog__two_column a:hover{
  background: #255A93;
  color: #fff;
}

.blog__two_column .content__overlay_title{
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom:25px;
}

.blog__two_column .blog__image{
  width:100%;
  height:500px;
}
.page-numbers{
  list-style: none;
  display: inline-block;
}
.page-numbers li{
  display:inline;
  vertical-align: middle;
}
.page-numbers li span.prev:after{
  content: '\f104';
  font-family: "FontAwesome";
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  vertical-align: middle;
  font-weight: 700;
  margin-left: 10px;
}
.page-numbers li span.next:after{
  content: '\f105';
  font-family: "FontAwesome";
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  vertical-align: middle;
  font-weight: 700;
  margin-left: 10px;
}
.post__summary_post a{
  width:100%;
  height:100%;
  display: block;
}

.post__summary_post:hover a{
  -webkit-box-shadow: 9px 10px 8px 0px rgba(36,35,36,0.31);
-moz-box-shadow: 9px 10px 8px 0px rgba(36,35,36,0.31);
box-shadow: 9px 10px 8px 0px rgba(36,35,36,0.31);
}

.post__summary_post .content{
  padding:30px 40px 55px 20px;
  height:150px;
}

.post__summary_post .image img{
  width:100%;
}
.post__summary_post .subtitle{
  font-size:14px;
  color:#295B7F;
}

.post__summary_post .title{
  font-size:16px;
}

.post__summary_post .image{
  position:relative;
}
.post__summary_post .image .overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(155, 215, 215, 0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.post__summary_post:hover .image .overlay{
  width:100%;
}

.post__summary_post .arrow{
  background: #295B7F;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 20px;
}

.post__summary_post .arrow img{
  width: 20px;
  height: 20px;
}

.post__summary_post:hover .content{
  background:#EEEEEE;
}

.load_more{
  margin:0 auto 40px auto;
  font-size:16px;
  max-width:170px;
  cursor: pointer;
}

 #content {
    padding: 50px 0;
    background-color: #fff;
}

 #secondary {
    /* background-color: #0a0a0a; */
    border-left: 1px solid #ccc;
}
 section#recent-posts-2 ul, #recent-comments-2 ul, #archives-2 ul, #categories-2 ul, #meta-2 ul{
    padding: 0;
    margin: 0;
}
 section#recent-posts-2 ul li, #recent-comments-2 ul li, #archives-2 ul li, #categories-2 ul li, #meta-2 ul li{
    display: block;
}

.inner-banner-content h1 {
    color: #265a93;
    font-size: 24px;
    font-weight: bold;
}
.inner-banner-content h3 {
    font-weight: 800;
    font-size: 38px;
}
.inner-banner-content p{
    margin-top: 80px;
}
.inner-right-block {
    display: block;
    border-left: 2px solid #ccc;
        padding-left: 40px;
}
.inner-right-block ul {
    display: block;
    padding: 0;
    margin: 0;
}
.inner-right-block ul li {
    display: block;
        margin-bottom: 50px;
}
.inner-right-block ul li p{
        margin-bottom: 0px;
        line-height: 1.5;
}
.inner-right-block ul li a {
    color: #265a93;
    font-weight: 600;
    font-size: 11px;
}
.inner-right-block ul li a:hover {
text-decoration: underline;
}
.inner-right-block ul li h6 {
    font-size: 14px;
    font-weight: 600;
    color: #265a93;
}
@media only screen and (max-width: 1300px) {
  .blog__three_column{
    width:22%;
    margin: 0 auto;
    padding:50px 0;
  }

  .blog__three_column#blog-1, .blog__three_column#blog-6, .blog__three_column#blog-9,
  .blog__three_column#blog-12{
    margin-left:15%;
  }

  .blog__three_column#blog-3, .blog__three_column#blog-8, .blog__three_column#blog-11{
    margin-right:15%;
  }
}
@media only screen and (max-width: 1200px) {
  .blog__three_column{
    width:27%;
  }
  .blog__three_column#blog-1, .blog__three_column#blog-6, .blog__three_column#blog-9,
  .blog__three_column#blog-12{
    margin-left:7%;
  }

  .blog__three_column#blog-3, .blog__three_column#blog-8, .blog__three_column#blog-11{
    margin-right:7%;
  }
}

@media only screen and (max-width: 992px) {
  .blog__filter #filter_title{
    width:25%;
  }

  .blog__filter .right_filter{
    width:75%;
  }
  .blog__filter #filter{
    width:50%;
  }
  .blog__filter .category__filter #filter label.clear_category{
    position: absolute;
    right:30%;
    top:35px;
    background:#fff;
    padding:12px;
    -webkit-box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
  -moz-box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
  box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
  }
  .blog__three_column{
    width:28%;
    margin: 0 2%;
  }
  .blog__three_column#blog-1, .blog__three_column#blog-6, .blog__three_column#blog-9,
  .blog__three_column#blog-12{
    margin-left:4%;
  }

  .blog__three_column#blog-3, .blog__three_column#blog-8, .blog__three_column#blog-11{
    margin-right:4%;
  }
  .blog__two_column .content__overlay{
    width: 100%;
    max-width: none;
    margin: 0 auto;
    padding: 40px 60px;
    position: relative;
    height:100%;
    top:auto;
  }

}

@media only screen and (max-width: 768px) {
  .filter_title_desktop{
    display:none;
  }
  .filter_title_mobile{
    display:block;
    width:25%;
    cursor:pointer;
  }
  .blog__filter .category__filter{
    padding:0 20px;
  }
  .blog__filter .filter_flex{
    max-width:500px;
    box-shadow:none;
  }
  .blog__filter #filter.show{
    display:flex;
  }
  .blog__filter #filter{
    position:absolute;
    left: 0;
    top: 52px;
    background:#fff;
    padding:12px;
    -webkit-box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
    -moz-box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
    box-shadow: 9px 7px 5px -1px rgba(0,0,0,0.22);
    width:100%;
    border:1px solid #ACACAC;
    display:none;
    flex-wrap:wrap;
  }
  .blog__filter .category__filter #filter label{
    margin:0 4%;
  }

  .blog__filter .category__filter #filter label.clear_category{
    position:static;
    box-shadow: none;
    background:transparent;
    padding:0;
  }
  .blog__filter .filter_flex{
    position:relative;
  }
  .blog__filter .right_filter{
    width:100%;
  }
  .blog__filter .search{
    width:60%;
    margin-left:15%;
  }
  .blog__three_column{
    width:100%;
    margin: 0 auto;
    padding:40px 100px;
  }
  .blog__three_column#blog-1, .blog__three_column#blog-6, .blog__three_column#blog-9,
  .blog__three_column#blog-12{
    margin-left:auto;
  }

  .blog__three_column#blog-3, .blog__three_column#blog-8, .blog__three_column#blog-11{
    margin-right:auto;
  }
  .blog__two_column{
    width:100%;
    padding:0;
  }
  .blog__two_column .blog__image{
    height:350px;
  }
  .blog__two_column .content__overlay .content{
    position:relative;
    top:20%;
  }
  .blog__two_column#blog-4, .blog__two_column#blog-12{
    padding-top:40px;
  }
  .blog__two_column#blog-5, .blog__two_column#blog-13{
    padding-bottom:40px;
  }
}

@media only screen and (max-width: 600px) {
  .blog__filter .category__filter{
    padding: 0 10px;
  }
  .filter_title_mobile{
    padding:15px 10px;
  }
  .blog__archive .post__summary_post{
    margin:15px 0;
  }
  .blog__three_column{
    width:100%;
    margin: 0 auto;
    padding:40px;
  }
}


/* ------- General Pages --------- */
body.page-template-general #content {
  padding-top: 0;
}

body.page-template-general .entry-header {
  background-image: url('https://msbdev.wpengine.com/wp-content/themes/mainstreetbank/mainstreetbank/images/page_header_img.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  /* height: 275px; */
  /* padding: 5% 5% 0 5%; */
  padding: 15% 5% 0 5%;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
}

body.page-template-general .entry-title {
  color: black;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  background: white;
  /* height: 150px; */
  width: 60%;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3% 5%;
}

body.page-template-general.entry-content {
  margin-top: 0;
}

body.page-template-general .entry-content iframe {
  min-width: 100%;
  height: 315px;
}

body.page-template-general .entry-content > ul, body.page-template-general .entry-content > ol {
  padding: 0 45% 0 10%;
  font-family: "Merriweather", serif;
  line-height: 30px;
  margin: -3px 0 0 1em;
}

body.page-template-general .entry-content table tr td {
  width: 70%;
}

body.page-template-general .entry-content table tr ul {
  margin: 0;
  padding: 0;
}

body.page-template-general .entry-content table {
  max-width: 90vw;
  margin: 30px auto auto auto;
}

body.page-template-general .entry-content figure {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

body.page-template-general .entry-content > p > strong > a {
  color: #245b94;
  font-size: 12px;
}

body.page-template-general .entry-content ul a {
  font-size: 14px;
  font-family: "Merriweather", serif;
  color: #245b94;
}

body.page-template-general .entry-content > h2, body.page-template-general .entry-content > h3 ,body.page-template-general .entry-content > h4 ,body.page-template-general .entry-content > h5 {
  padding: 0 45% 0 10%;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 20px 0;
  color:#265A93;
}

body.page-template-general .entry-content > div[class="outset"] h2, body.page-template-general .entry-content > div[class="outset"] h3 ,body.page-template-general .entry-content > div[class="outset"] h4 ,body.page-template-general .entry-content > div[class="outset"] h5 {
  padding: 0 45% 0 10%;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 20px 0;
  color:#265A93
}

body.page-template-general .entry-content > p:not([class]), body.page-template-general .entry-content > div:not([class]), body.page-template-general .entry-content > div[class="outset"] {
  padding: 0 45% 0 10%;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 2.2;
}

body.page-template-general .entry-content > p:first-child:not([class]), body.page-template-general .entry-content > p:first-of-type:not([class]) body.page-template-general .entry-content > h2:first-of-type, body.page-template-general .entry-content > h3:first-of-type ,body.page-template-general .entry-content > h4:first-of-type ,body.page-template-general .entry-content > h5:first-of-type {
  font-size: 20px;
  font-weight: bold;
  color:#265A93;
  font-family: 'Open Sans', sans-serif;
  margin: 60px 0 20px 0px;
  line-height: 1.75;
  padding: 0 45% 0 10%;
  /* margin-bottom: 50px; */
}

body.page-template-general .entry-content > div:first-of-type > h2:first-of-type, body.page-template-general .entry-content > div:first-of-type > h3:first-of-type,body.page-template-general .entry-content > div:first-of-type > h4:first-of-type,body.page-template-general .entry-content > div:first-of-type > h5:first-of-type {
  font-size: 20px;
  font-weight: bold;
  color:#265A93;
  font-family: 'Open Sans', sans-serif;
  margin: 60px 0 20px 0px;
  line-height: 1.75;
  padding: 0;
  /* margin-bottom: 50px; */
}


body.page-template-general .entry-content > p:first-child a, body.page-template-general .entry-content > div p a {
  color: #245b94;
  font-size: inherit;
  font-family: inherit;
}

body.page-template-general .entry-content > div:not([class]) > h2,
body.page-template-general .entry-content > div:not([class]) > h3,
body.page-template-general .entry-content > div:not([class]) > h4,
body.page-template-general .entry-content > div:not([class]) > h5 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin: 30px 0 20px 0;
  color:#265A93;
}

body.page-template-general .entry-content > div:not([class]) > ul, body.page-template-general .entry-content > div:not([class]) > ul > li > ul, body.page-template-general .entry-content > div[class="outset"] > ul, body.page-template-general .entry-content > div[class="outset"] > ul > li > ul, body.page-template-general .entry-content > div:not([class]) > ol, body.page-template-general .entry-content > div:not([class]) > ol > li > ol, body.page-template-general .entry-content > div[class="outset"] > ol, body.page-template-general .entry-content > div[class="outset"] > ol > li > ol {
  padding: 0;
  margin: 15px 0;
}

body.page-template-general .entry-content > div[class="outset"] > form > label, body.page-template-general .entry-content label {
  color: white;
  background: #245b94;
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

body.page-template-general .entry-content > div[class="outset"] > form > input, body.page-template-general .entry-content > div[class="outset"] > form > textarea, body.page-template-general .entry-content form p input, body.page-template-general .entry-content form p textarea {
  border: 1px solid #245b94;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

body.page-template-general .entry-content ul > li > ul {
  padding: 0;
  margin: 0;
}

body.page-template-general .entry-content > div:not([class]) > p {
  margin: 0;
  padding: 7.5px 0 0 0;
}

body.page-template-general .entry-content > div:not([class]) > ul > li, body.page-template-general .entry-content > div[class="outset"] > ul > li {
  margin: 0;
  padding: 0 0 2.5px 0;
}

body.page-template-general .entry-content > div:not([class]) > p + ul {
  margin-left: 1em;
}

body.page-template-general .entry-content .button {
  background: #245b94;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  width: fit-content;
  margin: 10px 0;
}

body.page-template-general .entry-content .button.medium {
  margin-left: 25%;
}

body.page-template-general .entry-content p.button.small a {
  background: #245b94;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  width: fit-content;
}

body.page-template-general .entry-content p.button.small {
  font-size: 13px;
  margin: 0;
  line-height: 3.5;
  font-weight: bold;
}

body.page-template-general .entry-content p.button.small ~ p.button.small > a {
  margin-bottom: 5px;
}

#post-335 hr {
  max-width: 50%;
}

body.page-template-general .page_relatedlinks {
  top: 36vw;
  position: absolute;
  right: 15%;
  width: 20%;
}

body.page-template-general .page_relatedlinks .link_group {
  margin-bottom: 20px;
}

body.page-template-general .page_relatedlinks h2 {
  font-size: 10px;
  color: #255A93;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 0;
}

body.page-template-general .page_relatedlinks p {
  font-size: 10px;
  margin-bottom: 5px;
  line-height: 2;
  margin-bottom: 4px;
}

body.page-template-general .page_relatedlinks .link_and_arrow {
  display: flex;
}

body.page-template-general .page_relatedlinks a {
  color: #255A93;
  font-size: 9px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: .5px
}

body.page-template-general .entry-content > h6 {
  padding: 0 45% 0 10%;
  font-size: 12px;
}

body.page-template-general article {
  position: relative;
}

@media (max-width: 767px) {
  body.page-template-general .entry-title {
    font-size: 35px
  }

  body.page-template-general iframe {
    height: auto;
    max-width: 100%;
  }

}

@media (max-width: 550px) {
  body.page-template-general .entry-title {
    width: 100%;
    justify-content: center;
    padding: 0 5%;
  }

  body.page-template-general .entry-content > ul, body.page-template-general .entry-content > ol {
    padding: 0px 10% 0 10%;
  }

  body.page-template-general .entry-content > h2, body.page-template-general .entry-content > h3 ,body.page-template-general .entry-content > h4 ,body.page-template-general .entry-content > h5 {
    padding: 0px 10% 0 10%;
  }

  body.page-template-general .entry-content > div[class="outset"] h2, body.page-template-general .entry-content > div[class="outset"] h3 ,body.page-template-general .entry-content > div[class="outset"] h4 ,body.page-template-general .entry-content > div[class="outset"] h5 {
    padding: 0px 10% 0 10%;
  }

  body.page-template-general .entry-content > p:not([class]), body.page-template-general .entry-content > div:not([class]), body.page-template-general .entry-content > div[class="outset"] {
    padding: 0px 10% 0 10%;
  }

  body.page-template-general .entry-content > p:first-child:not([class]), body.page-template-general .entry-content > p:first-of-type:not([class]) body.page-template-general .entry-content > h2:first-of-type, body.page-template-general .entry-content > h3:first-of-type ,body.page-template-general .entry-content > h4:first-of-type ,body.page-template-general .entry-content > h5:first-of-type {
    padding: 0px 10% 0 10%;
  }

  body.page-template-general .page_relatedlinks {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0px 10% 0 10%;
    margin-top: 20px;
  }
}

/* Category Pages */
body.page-template-category .entry-header {
  /* height: 275px; */
  height: auto;
  padding-top: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.page-template-category .entry-title {
  font-family: 'Merriweather', serif;
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  background: white;
  width: 60%;
  height: auto;
  margin-bottom: 0;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

@media (max-width: 550px) {
  body.page-template-category .entry-header {
      padding: 10%;
      height: 35vw;
  }

  body.page-template-category .entry-title {
      padding: 3%;
      font-size: 35px;
      width: auto;
  }
}

/* Find Us Page Specifics */
body.page-template-general .location_title {
  background-image: url('../images/cross_expand.png');
  background-position: 10% center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  padding: 0 45% 0 13%;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #265A93;
  cursor: pointer;
}

body.page-template-general .location_title.active {
  background-image: url('../images/dash_collapse.png');
}

body.page-template-general .location_title strong {
  pointer-events: none;
}

body.page-template-general .location_description {
  display: none;
  padding: 5% 50% 5% 15%;
  background: linear-gradient(to right, white, white 10%, #265A93 10%, #265A93 55%, white 55%, white 100%);
  color: white;
}

body.page-template-general .location_title.active + .location_description {
  display: block;
}

body.page-template-general .location_description p {
  color: white;
}

body.page-template-general .location_description p:nth-of-type(2) {
  line-height: 1.4;
}

body.page-template-general .location_description p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 550px) {
  body.page-template-general .location_title {
    padding: 0 10% 0 15%;
    background-size: 10px 10px;
    font-size: 20px;
  }

  body.page-template-general .location_description {
    font-size: 12px;
    padding: 5% 15% 5% 15%;
    background: linear-gradient(to right, white, white 10%, #265A93 10%, #265A93 90%, white 90%, white 100%)
  }
}








/* Testing block field top and bottom margin styles */
/* Top */
.onehundred_top {
  margin-top: 100px;
  }

  .fifty_top {
  margin-top: 50px;
  }

  .zero_top {
  margin-top: 0;
  }

  .minus_fifty_top {
  margin-top: -50px;
  }

  .minus_onehundred_top {
  margin-top: -100px;
  }

  /* Bottom  */
  .onehundred_bottom {
      margin-bottom: 100px;
  }

  .fifty_bottom {
      margin-bottom: 50px;
  }

  .zero_bottom {
      margin-bottom: 0;
  }

  .minus_fifty_bottom {
      margin-bottom: -50px;
  }

  .minus_onehundred_bottom {
      margin-bottom: -100px;
  }
